

img{
    text-align: center;
    width: 300px;
    margin-left:11% ;
    margin-top: -3%;
}

h2{
    text-align: center;
    margin-top: 0%;
    font-size: 30px;
    margin-left: 0%;
}

p{
    text-align: center;
    margin-top: 130%;
    font-size: 20px;
    margin-left: 0%;
}

.button{
    background-color: #000000; /* Green */
    border: none;
    color: rgb(255, 255, 255);
    padding: 10px 40px;
    border-radius: 20px;
    margin-top: 124%;
    font-size: 15px;
    margin-left: 28%;
}