img{
    
    width: 300px;
    margin: -12em auto;
    display: block;
    /*动画      运行时间  两头快中间慢    无限次运动*/
    animation: move 3s ease-in-out infinite alternate;

}

@keyframes move{
    0%{
        transform: rotate(-30deg);
    }
    100%{
        /*顺时针*/
        transform: rotate(30deg);
    }
}
@keyframes move-reverse{
    0%{
        transform: rotate(0);
    }
    100%{
        transform: rotate(-90deg);
    }
}