

h2{
    text-align: center;
    margin-top: 0%;
    font-size: 30px;
    margin-left: 0%;
    
}
p{
    text-align: center;
    padding: 10px 0;
    font-size: 15px;
    font-weight: 300;
    margin-left: 0%;
    
}
h1{
    text-align: center;
    color: rgb(0, 0, 0);
    margin-top: 0%;
    font-size: 150%;
    font-weight: 500;
    font-style: oblique;
}

body{
    background-color: rgb(255, 255, 255);
}
img{
    
    width: 300px;
    margin:0 auto;
    display: block;
    margin-top: -3%;
}
.labels {
    display: flex;
    margin: 2em auto;
    text-align: center;
    justify-content: space-between;
    width: 270px; /* Adjust width as needed */
    margin-bottom: 10px; /* Space between labels and dropdowns */

    font-size: 120%;
    font-weight: 300;
}

.dropdowns {
    text-align: center;
    margin:0 auto;
    display: flex;
    justify-content: space-between;
    width: 280px; /* Match the width of the label row */
   
    font-weight: 50;
    margin-top: 3%;
}
.result{
    text-align: center;
    font-size: 20px;
    margin:5em auto;
    
    font-weight:300;
    text-align: center;

}
.select-time{
    font-weight: 400 ;
    color: rgb(235, 23, 23);
    font-size: 25px;
}
.button-container {
  
  text-align: center;
  text-decoration:none;
  font-size: 10px;
  
  
}

.button{
    background-color: #000000; /* Green */
    border: none;
    margin:0 auto;
    color: rgb(255, 255, 255);
    padding: 10px 40px;
    border-radius: 20px;
    
}
select{
    text-align: center;
    background-color: #000000;
    color: rgb(255, 255, 255);
    padding: 5px 10px;
    border-radius: 5px;
    border: 1px;
}
select:focus{
    background-color: #fde43f;
    color: #000000;
}


.dropdowns select option {
    background-color: rgb(255, 255, 255); /* Option background */
    color: blue; /* Option text color */
}
.dropdowns select:hover {
    background-color: #ffa856; /* Light gray background on hover */
    /* border-color: blue; */
}
.dropdowns select option:checked {
    background-color: yellow; /* Change background of selected option */
    color: black; /* Text color of selected option */
}