img{
    
    width: 300px;
    margin: -12em auto;
    display: block;
    /*动画      运行时间  两头快中间慢    无限次运动*/
    animation: move 3s ease-in-out infinite alternate;

}

h2{
    text-align: center;
    font-family: Helvetica, serif;
    margin-top: 200px;
    font-size: 30px;
    font-weight: 800;
    
}


/* Style for the history container */
.history-container {
    text-align: center;
        display: grid;
        grid-template-columns: repeat(2, 1fr); /* Two columns */
        gap: 1rem; /* Space between blocks */
        padding:10px;
    }

    /* Ensure each block acts as a positioning context for its label */
.history-block {
    position: relative; /* Makes the label position relative to each block */
    background-color: #ebc974;
    border: 1px solid #f3be00;
    padding: 0.1rem 1rem;
    border-radius:0 8px 8px 8px;
    box-shadow: 4px 6px rgba(0, 0, 0, 0.1);
    margin-bottom: 1rem; /* Add space between blocks */
}

/* Style for selection text */
.selection-text {
    font-size: 0.8rem;
    font-weight: bold;
    color:rgb(0, 0, 0);
  
}
/* Style for timestamp text */
.timestamp-text {
    font-size: 0.9rem;
    color: #000000;
    font-size: 11px;
}


.history-label {
    position: absolute;
    font-family: "Copperplate", monospace, sans-serif;
    top: -1.3rem; /* Adjust distance from the block */
    left: -0.05rem; /* Adjust horizontal position if needed */
    background-color: #8f6201;
    color: #fff;
    padding: 0.25rem 0.2rem;
    font-size: 0.8rem;
    box-shadow: 4px 0px rgba(0, 0, 0, 0.1);
    border-radius: 5px 5px 0 0; /* Rounded top corners */
}
.page3button {
  
    text-align: center;
    text-decoration:none;
    font-size: 10px;

}
.button{
    background-color: #000000; /* Green */
    border: none;
    color: rgb(255, 255, 255);
    padding: 10px 40px;
    border-radius: 20px;
    margin:7em auto;
}

@keyframes move{
    0%{
        transform: rotate(-30deg);
    }
    100%{
        /*顺时针*/
        transform: rotate(30deg);
    }
}
@keyframes move-reverse{
    0%{
        transform: rotate(0);
    }
    100%{
        transform: rotate(-90deg);
    }
}